* {
  margin: 0px;
  padding: 0px;
  box-shadow: border-box;
}

@font-face {
  font-family: "Adelle-Bold";
  src: url("/Fonts/Adelle_Bold.otf");
  font-display: swap;
}
@font-face {
  font-family: "Adelle-BoldItalic";
  src: url("/Fonts/Adelle_BoldItalic.otf");
  font-display: swap;
}
@font-face {
  font-family: "Adelle-ExtraBold";
  src: url("/Fonts/Adelle_ExtraBold.otf");
  font-display: swap;
}
@font-face {
  font-family: "Adelle-Italic";
  src: url("/Fonts/Adelle_Italic.otf");
  font-display: swap;
}
@font-face {
  font-family: "Adelle-semibold";
  src: url("/Fonts/Adelle_Semibold.otf");
  font-display: swap;
}
@font-face {
  font-family: "Microsoft-new";
  src: url("/Fonts/Microsoft-New-Tai-Lue.tff");
  font-display: swap;
}
