.freeKitMain {
  width: 100vw;
  background-color: #c9952d;
}
.freeKit {
  max-width: 1350px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  justify-content: center;
  margin: auto;
  align-items: center;
  padding: 20px 16px;
}
.leftPortion {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.title {
  font-size: 40px;
  font-family: "Adelle-semibold";
  color: white;
  line-height: 70px;
}
.button {
  width: 70%;
  background-color: #132b56;
  font-size: 40px;
  font-family: "Adelle-semibold";
  color: white;
  border: 0px;
  height: 70px;
  border-radius: 10px;
}
.boldBtn {
  font-family: "Adelle-ExtraBold";
}
.rightPortion {
  width: 100%;
  position: relative;
  height: 450px;
}
.titleSmScreen {
  display: none;
}
/* =====> media queries */
@media screen and (max-width: 1120px) {
  .title {
    font-size: 30px;
    line-height: 38px;
  }
  .button {
    font-size: 26px;
    line-height: 20px;
  }
  .boldBtn {
    font-size: 30px;
  }
  .rightPortion {
    height: 300px;
  }
}
@media screen and (max-width: 800px) {
  .title {
    font-size: 24px;
    line-height: 38px;
  }
  .button {
    font-size: 20px;
    line-height: 20px;
  }
  .boldBtn {
    font-size: 24px;
  }
  .rightPortion {
    height: 240px;
  }
}
@media screen and (max-width: 660px) {
  .freeKit {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .titleSmScreen {
    display: flex;
    font-size: 24px;
    line-height: 34px;
    font-family: "Adelle-semibold";
    color: white;
  }
  .button {
    width: 210px;
    font-size: 14px;
    line-height: 20px;
    height: 50px;
  }
  .leftPortion {
    align-items: center;
  }
  .title {
    display: none;
  }

  .boldBtn {
    font-size: 16px;
  }
  .rightPortion {
    height: 300px;
  }
}
@media screen and (max-width: 430px) {

  .rightPortion {
    height: 220px;
  }
}
